.button-search{
    -fx-text-fill:#E1F5FE ;
    -fx-background-color: #0091EA;
    -fx-font-weight: bold;
    
}
.button-show{
    -fx-text-fill:#E1F5FE ;
    -fx-background-color: #0091EA;
    -fx-font-weight: bold;
}

.button-show:hover{
    -fx-background-color: #01579B;
}
.button-search:hover{
    -fx-background-color: #01579B;
}

.image-sty{
    -fx-image: url("../images/login.png");
}

.background{
    -fx-background-image: url("../images/background.png");
}

.user-fonts{
    -fx-font: 14px "sans-serif";
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

